/* ===> ABOUTPAGE SETTINGS <=== */
/* ----------------------------------------*/

/* Content */
/* ----------------------------------------*/

#errorMessageContainer
{
	min-height: 71vh;
	margin-top: 150px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 30%;
	font-size: 1.3em;
	line-height: 1.5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#homeReturn
{
	text-transform: uppercase;
	font-weight: bold;
}

#homeReturn:hover
{
	color: grey;
}

#oups
{
	background-color: white;
	padding: 25px;
}

/* ---------------------------------------------------------------------------------------- */
/* ===> RESPONSIVE SETTINGS <=== */

@media screen and (max-width: 599px)
{

/* Content */
/* ----------------------------------------*/

	#errorMessageContainer
	{
		width: 90%;
		min-height: 65vh;
	}

	#oups
	{
		padding: 12px;
	}
}

@media screen and (min-width: 600px) and (max-width: 899px)
{

/* Content */
/* ----------------------------------------*/

	#errorMessageContainer
	{
		width: 80%;
	}
}

@media screen and (min-width: 900px) and (max-width: 1200px)
{

/* Content */
/* ----------------------------------------*/

	#errorMessageContainer
	{
		width: 50%;
	}
}
