/* ===> ABOUTPAGE SETTINGS <=== */
/* ----------------------------------------*/

/* Content */
/* ----------------------------------------*/

#pageContent
{
	width: 75%;
	overflow: hidden;
}

#blocAboutTitle
{
	margin-bottom: 10px;
}

#blocAboutTitle h2
{
	margin: 0;
}

#aboutPageContent
{
	background-color: white;
	animation: fadeInLeft 0.65s ease-out;
	-webkit-animation: fadeInLeft 0.65s ease-out;
}

#description
{
	display: flex;
	width: 90%;
	padding-top: 30px;
	padding-bottom: 30px;
	margin: auto;
}

#text
{
	margin: auto;
	line-height: 1.5em;
	width: 47%;
}

#text ul
{
	margin-top: 0;
}

#img
{
	width: 45%;
	margin: auto;
}

#description figure
{
	margin: auto;
	width: 100%;
	min-width: 380px;
}

#description figure img
{
	width: 100%;
	min-width: 380px;
}

.smallTitles
{
	text-transform: uppercase;
}

/* ---------------------------------------------------------------------------------------- */
/* ===> RESPONSIVE SETTINGS <=== */

@media screen and (max-width: 599px)
{

/* Content */
/* ----------------------------------------*/

	#pageContent
	{
		width: 90%;
	}

	#description
	{
		flex-direction: column-reverse;
		width: 85%;
	}

	#img, #text
	{
		width: 100%;
	}

	#img
	{
		margin-bottom: 24px;
	}

	#img figure
	{
		width: 100%;
		min-width: inherit;
	}

	#description figure img
	{
		min-width: inherit;
		width: 100%;
	}

	#aboutPageContent
	{
		padding-bottom: 25px;
	}
}

@media screen and (min-width: 600px) and (max-width: 899px)
{

/* Content */
/* ----------------------------------------*/

	#pageContent
	{
		width: 85%;
	}

	#description
	{
		flex-direction: column-reverse;
		width: 80%;
	}

	#img, #text
	{
		width: 100%;
	}

	#img
	{
		margin-bottom: 30px;
	}

	#img figure
	{
		width: 60%;
	}

	#aboutPageContent
	{
		padding-bottom: 25px;
	}
}

@media screen and (min-width: 900px) and (max-width: 1288px)
{

/* Content */
/* ----------------------------------------*/

	#description
	{
		flex-direction: column-reverse;
		padding-top: 45px;
		padding-bottom: 35px;
	}

	#img, #text
	{
		width: 100%;
	}

	#img
	{
		margin-bottom: 30px;
	}

	#img figure
	{
		width: 60%;
	}

	#pageContent
	{
		width: 85%;
	}

	#description
	{
		width: 80%;
	}
}