/* ===> ABOUTPAGE SETTINGS <=== */
/* ----------------------------------------*/

/* Content */
/* ----------------------------------------*/

#pageContent
{
	display: flex;
}

#errorMessageContainer
{
	margin: auto;
	text-align: center;
	font-size: 1.3em;
	line-height: 1.5em;
}

#homeReturn
{
	text-transform: uppercase;
	font-weight: bold;
}

#homeReturn:hover
{
	color: grey;
}

#oups
{
	background-color: white;
	padding: 25px;
}

/* ---------------------------------------------------------------------------------------- */
/* ===> RESPONSIVE SETTINGS <=== */

@media screen and (max-width: 599px)
{

/* Content */
/* ----------------------------------------*/

	#errorMessageContainer
	{
		width: 80%;
		font-size: 99%;
	}

	#oups
	{
		padding: 10px;
	}
}

@media screen and (min-width: 600px) and (max-width: 899px)
{

/* Content */
/* ----------------------------------------*/

	#errorMessageContainer
	{
		width: 80%;
	}
}

@media screen and (min-width: 900px) and (max-width: 1200px)
{

/* Content */
/* ----------------------------------------*/

	#errorMessageContainer
	{
		width: 70%;
	}
}
